* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   vertical-align: top;
}
html {
   height: 100%;
   width:  100%;
}
body {
   background-color: gray;
   color: #333333;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   height: 100%;
   line-height: 20px;
   margin: 0;
   overflow-y: scroll;
}
body.viewport {
   height: 100%;
   width:  100%;
}
body.no-scroll-bars {
   overflow: hidden;
}
.lead {
   margin-bottom: 20px;
   font-size: 21px;
   font-weight: 200;
   line-height: 30px;
}
.bold {
   font-weight: bold;
}
.underlined {
   text-decoration: underline;
}
.muted {
   color: #999999;
}
.centered-text {
   text-align: center;
}
h2 {
   font-size: 30px;
}
.highlighted-text {
   color: #fc0;
}

/*shadow*/
.raised {
           box-shadow: 0px 0px 5px black;
       -ms-box-shadow: 0px 0px 5px black;
      -moz-box-shadow: 0px 0px 5px black;
        -o-box-shadow: 0px 0px 5px black;
   -webkit-box-shadow: 0px 0px 5px black;
}
/*border-radius*/
.border-radius-5px {
           border-radius: 5px;
       -ms-border-radius: 5px;
      -moz-border-radius: 5px;
        -o-border-radius: 5px;
   -webkit-border-radius: 5px;
}
.border-radius-bottom-5px {
           border-radius: 0px 0px 5px 5px;
       -ms-border-radius: 0px 0px 5px 5px;
      -moz-border-radius: 0px 0px 5px 5px;
        -o-border-radius: 0px 0px 5px 5px;
   -webkit-border-radius: 0px 0px 5px 5px;
}
.border-radius-top-5px {
           border-radius: 5px 5px 0px 0px;
       -ms-border-radius: 5px 5px 0px 0px;
      -moz-border-radius: 5px 5px 0px 0px;
        -o-border-radius: 5px 5px 0px 0px;
   -webkit-border-radius: 5px 5px 0px 0px;
}
.border-radius-10px {
           border-radius: 10px;
       -ms-border-radius: 10px;
      -moz-border-radius: 10px;
        -o-border-radius: 10px;
   -webkit-border-radius: 10px;
}
.border-radius-bottom-10px {
           border-radius: 0px 0px 10px 10px;
       -ms-border-radius: 0px 0px 10px 10px;
      -moz-border-radius: 0px 0px 10px 10px;
        -o-border-radius: 0px 0px 10px 10px;
   -webkit-border-radius: 0px 0px 10px 10px;
}
.border-radius-top-10px {
           border-radius: 10px 10px 0px 0px;
       -ms-border-radius: 10px 10px 0px 0px;
      -moz-border-radius: 10px 10px 0px 0px;
        -o-border-radius: 10px 10px 0px 0px;
   -webkit-border-radius: 10px 10px 0px 0px;
}